<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainMenu.nib</key>
	<string>MainMenu/754a644a4ad699ff7f77c3d6112a774c5f969c5e218ae06734a5e9a5e65488ce.nib</string>
	<key>kitten-assets/AssetVersionMap.plist</key>
	<string>kitten-assets/AssetVersionMap/2593209f5e23f274236e6fb6270ab927fc6398e5113044407eae17ba5809e32a.plist</string>
	<key>kitten-assets/gamescene/back-highlight.png</key>
	<string>kitten-assets/gamescene/back-highlight/90ad75c6a81c5afcc70f5f7165c59a5f1fc86d89889f507ca5da4784a875d1c8.png</string>
	<key>kitten-assets/gamescene/back.png</key>
	<string>kitten-assets/gamescene/back/477a3327ae280bbcafb3e093cf6065eec33f2e090e90e4a14da35b22f0d8e387.png</string>
	<key>kitten-assets/gamescene/background.png</key>
	<string>kitten-assets/gamescene/background/1fba120bafd08072ad6ac848064d29b465c6bb0957c981900de2acb8e71269a3.png</string>
	<key>kitten-assets/gamescene/game.json</key>
	<string>kitten-assets/gamescene/game/a8c89d0a1bbb182da3e4c8d8d30a0aecd1edf61b788abc583a6a7581821a67d2.json</string>
	<key>kitten-assets/gamescene/game_o.png</key>
	<string>kitten-assets/gamescene/game_o/0668321ff5c1cf895df652c9954726322c45c72cfd97a08808137b63b4f0e4f0.png</string>
	<key>kitten-assets/gamescene/game_x.png</key>
	<string>kitten-assets/gamescene/game_x/53136d2be3efd7d4b3eb92a0ebb7bed0cdb7a67c0f7077e71d91383c8f0efbaa.png</string>
	<key>kitten-assets/gamescene/gamebg.png</key>
	<string>kitten-assets/gamescene/gamebg/f0f6cd634c0dff439efff6de2edd26e02a95d07b2721769bee3bb8722fdc6618.png</string>
	<key>kitten-assets/gamescene/level-highlight.png</key>
	<string>kitten-assets/gamescene/level-highlight/577ef37ea01a754eddae659eb61f49e5f28e7922efed60438667a832aeb6a357.png</string>
	<key>kitten-assets/gamescene/levelbg.png</key>
	<string>kitten-assets/gamescene/levelbg/24f3e20d05c741e611a4a492a41474aa3ad7ab7e83f157d4bf9404e223b79a2b.png</string>
	<key>kitten-assets/gamescene/mail-highlight.png</key>
	<string>kitten-assets/gamescene/mail-highlight/b2278a9615e2a9e454931eff39a7dee509bbc36c8836af5e7c6c38d15a102ebe.png</string>
	<key>kitten-assets/gamescene/mail.json</key>
	<string>kitten-assets/gamescene/mail/5393200a8417f037521cdb4c2d224b43fed91da79fd50a8be76d0ef36ba663b3.json</string>
	<key>kitten-assets/gamescene/mail.png</key>
	<string>kitten-assets/gamescene/mail/801873378bbb155fa0df17cd5718f07facd81ed1bc9c9a0bdc9d503aeaef0ba2.png</string>
	<key>kitten-assets/gamescene/mailNEW.png</key>
	<string>kitten-assets/gamescene/mailNEW/07369eb74930e1ffa8c0ac32f9eb064e15b563a1cf8ad333b81759d342a79fad.png</string>
	<key>kitten-assets/gamescene/mailbg.png</key>
	<string>kitten-assets/gamescene/mailbg/48cecb0cdd9cdff2787eb0597d3cb466905ba628d81f75f4ad960289bbdeb17d.png</string>
	<key>kitten-assets/gamescene/message-highlight.png</key>
	<string>kitten-assets/gamescene/message-highlight/3da56cd8293b3b5fb7369f5b406ad190230543dd47e5126d2b356fdd0796e276.png</string>
	<key>kitten-assets/gamescene/messagebg.png</key>
	<string>kitten-assets/gamescene/messagebg/75da754b3673a4505c43635ccfbd42859490d03036707f636b4973ab7b4f7104.png</string>
	<key>kitten-assets/gamescene/messages.json</key>
	<string>kitten-assets/gamescene/messages/edab592943164090003cff00b77b3d842c534499ebe051e5af233b341b0db711.json</string>
	<key>kitten-assets/gamescene/popupbg.png</key>
	<string>kitten-assets/gamescene/popupbg/7e3d4370aba752ced339459eeb0ae6b540feed3a29feab2b2bedfefbda3ee276.png</string>
	<key>kitten-assets/gamescene/scene.json</key>
	<string>kitten-assets/gamescene/scene/0b5487195e7bb8035f1e7451399c9f0b7c2cf654f4ecb232b1933f86153b2811.json</string>
	<key>kitten-assets/gamescene/scrollbg.png</key>
	<string>kitten-assets/gamescene/scrollbg/6493bbd4eae755db4c1de29c9e5c99ad411701fc774437eb58f386ca39c17ded.png</string>
	<key>kitten-assets/gamescene/settings-highlight.png</key>
	<string>kitten-assets/gamescene/settings-highlight/44b7e28c32d34739786dd9fa5033628fc8629ee8b58ba96534d90f415f6cd553.png</string>
	<key>kitten-assets/gamescene/settings.json</key>
	<string>kitten-assets/gamescene/settings/1165c5d8cd98b4b402cd054ccd500c093b42847d456b9427acf0220fb3b89906.json</string>
	<key>kitten-assets/gamescene/settings.png</key>
	<string>kitten-assets/gamescene/settings/027bab59334321f2aa98539b26d3f1dcf8140afcab1defe8f3d2b3e6be046c7f.png</string>
	<key>kitten-assets/img/ask_manager.png</key>
	<string>kitten-assets/img/ask_manager/2f6be89583dc9b6f08e39d4727a84b0e06acf5619d32e27e2989ea7360bd2f5c.png</string>
	<key>kitten-assets/img/berry-quintin.jpg</key>
	<string>kitten-assets/img/berry-quintin/9a970a41a6ddff08d5d48db578721ffc988ad29866ed2c35cdddea4cac20adab.jpg</string>
	<key>kitten-assets/img/blanks-kyle.jpg</key>
	<string>kitten-assets/img/blanks-kyle/24db25a44501dd165b78b7718280b0d5dc8ff096d653535e5473defb2782475c.jpg</string>
	<key>kitten-assets/img/cespedes-yoenis.jpg</key>
	<string>kitten-assets/img/cespedes-yoenis/fbfce3015ffbd4af930d556bb82e92ac82708e838c5dc4307c266aa3c65fe3af.jpg</string>
	<key>kitten-assets/img/chavez-eric.jpg</key>
	<string>kitten-assets/img/chavez-eric/ee2f1e97df3cc549b506b1ce15c31849a8c7f23b3f54ae24815f2ced42d72ba1.jpg</string>
	<key>kitten-assets/img/fnf.png</key>
	<string>kitten-assets/img/fnf/3a666f1bc024d7d4592c5e44389674d1ddb95bf3824465554946d72219bf13d6.png</string>
	<key>kitten-assets/img/gardner-brett.jpg</key>
	<string>kitten-assets/img/gardner-brett/61d8784ad72cf2ddae26e4d5c7d2a17f819f83dce90f4ee02b2d6328e7fa9820.jpg</string>
	<key>kitten-assets/img/gomez-carlos.jpg</key>
	<string>kitten-assets/img/gomez-carlos/73dea308fc79c3d5d8d7cc3fa0412e12d168807100bc653c3085e75af899055c.jpg</string>
	<key>kitten-assets/img/heisey-chris.jpg</key>
	<string>kitten-assets/img/heisey-chris/30118b6df7da4ee87086ef2430b2ecd8329521de6c2fd6e186803a92060dc0a5.jpg</string>
	<key>kitten-assets/img/lillibridge-brent.jpg</key>
	<string>kitten-assets/img/lillibridge-brent/f28fb56751db835fbf5f2d07f793e240e16c4d14453819ce6ccd1823d4de465b.jpg</string>
	<key>kitten-assets/img/nathan-joe.jpg</key>
	<string>kitten-assets/img/nathan-joe/e40858401f1b5668e2da699166a1fec8826dcc5699d1a97d8938380bebfd2ac7.jpg</string>
	<key>kitten-assets/img/perez-salvador.jpg</key>
	<string>kitten-assets/img/perez-salvador/a3f91dc92f1e8bc8e006a83a9a163a093c9b61f01577399a18e2d8273ebf3269.jpg</string>
	<key>kitten-assets/img/ramirez-ramon.jpg</key>
	<string>kitten-assets/img/ramirez-ramon/922929284d97fd4c983bf851fac1405408847ffb939d4c41a8393a2d6036f752.jpg</string>
	<key>kitten-assets/img/rogers-esmil.jpg</key>
	<string>kitten-assets/img/rogers-esmil/209b2404c83d3af4dd86c0ab2ff67a970045f08ba43520a9bc887c1b0aae1c50.jpg</string>
	<key>kitten-assets/img/tejada-ruben.jpg</key>
	<string>kitten-assets/img/tejada-ruben/f27a1fc121ad5fd3d008a7225a93e56546301ac5367357dc6a064c3bb110a42b.jpg</string>
	<key>kitten-assets/img/viciedo-dayan.jpg</key>
	<string>kitten-assets/img/viciedo-dayan/134bb70bf5e5a2c1fac566aaa3b4593ca3f636aff068d662a62072a99f58573b.jpg</string>
	<key>kitten-assets/json/children.json</key>
	<string>kitten-assets/json/children/95437ac2b22390156fdbd3e52e1f4ab8a5971fc13b95cc62643ffd65a4fe8afb.json</string>
	<key>kitten-assets/json/pop.json</key>
	<string>kitten-assets/json/pop/23474826aec3a48a72cdf0d001fdab56ce60883a6a4afed2bf60bdac7dc2f749.json</string>
	<key>kitten-assets/json/push.json</key>
	<string>kitten-assets/json/push/ee817f236313a27ca606b20d86a094478e4f4cf7d9910aac276745fa6e9a35b8.json</string>
	<key>kitten-assets/json/scene.json</key>
	<string>kitten-assets/json/scene/847be7bbc3fe632e5ba40a0a16bffebe7adb373bf1f3d69482ede52d5610c7a8.json</string>
	<key>kitten-assets/json/scene2.json</key>
	<string>kitten-assets/json/scene2/8f8a4d31c13b978fc69a499fa46a79703fa8a1bebc5edc530fd3877e73262fcf.json</string>
</dict>
</plist>
